
<!doctype html>

<html lang="en">
	<head>
		<title>Home</title>
		<link href="styles.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="nav">
			<ul>
				<li><a href="/logout">Logout</a></li>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}

		<p>Please view details of your attendance so far below:</p>


		<h3>Total Classes: {{total_classes}}</h3>
		<h3>Present: {{present}}</h3>
		<h3>Late: {{late}}</h3>
		<h3>Absent: {{absent}}</h3>
		</body>
</html>
